<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinConfigScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinConfigScan.Properties.Settings>
            <setting name="ConfigFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedSiteIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedApplicationIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XmlText" serializeAs="String">
                <value>"&lt;connectionStrings&gt;\r\n\r\n&lt;!-- Put connectionStrings here. --&gt;\r\n\r\n&lt;/connectionStrings&gt;"</value>
            </setting>
        </WinConfigScan.Properties.Settings>
    </userSettings>
</configuration>